<launch>
  <node pkg="sorting_robot" type="heatmap" name="heatmap" output="log" cwd="node"/> -->
  <node pkg="sorting_robot" type="path_planner" name="path_planner" output="log" cwd="node"/>
  <node pkg="sorting_robot" type="pickup_manager" name="pickup_manager" output="log" cwd="node"/>
  <node pkg="sorting_robot" type="traffic_manager" name="traffic_manager" args="1" output="log" cwd="node"/>
</launch>
